body, html {
	padding-top: 0.01em;
	height: 100%;
}

body {
	background: url(../img/houses.gif) no-repeat center center fixed;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
	height: 100%;
	position: relative;
}

.has-nav-side{
	display: 		flex;
	flex-direction: column;
}

.controls {
	width: auto;
}

#fieldlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.demo-section{
	margin: 0 auto;
}

.demo-section:not(.wide), #exampleWrap .box:not(.wide) {
    max-width: 500px;
}

.button {
	padding: 8px 27px;
}

#fieldlist > li {
	margin: 0 2em;
}

#fieldlist label {
	margin-right: 6px;
}

.editor {
	flex: 	1;
	display: flex;
	margin:0 auto;
	bottom: 0;
	width: 800px;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.52), 0 3px 6px rgba(0, 0, 0, 0.55);
	border-top: 20px solid #272822;
}

#ace {
	flex: 1;
}

.ovHidden {
	overflow: hidden;
}

.preview {
	width: 100%;
}

.inputImage {
	width: 100%;
}

kbd {
    color: black;
    background-color: #ECECEC;
    padding: .2em .8em;
    font-size: 11px;
    border-radius: 3px;
    margin: 0 .4em;
}

.expanded {
	line-height: 165%;
    letter-spacing: 1px;
}

.nav-side {
	width: 337px;
}

.has-nav-side {
    margin-left: 337px;
}

.nav-side-open{
	display: flex !important;
}

ul  li.hidden{
	display: none;
}

@media screen and (max-width: 620px){
	.has-nav-side {
	    margin-left: 0;
	}
}
